body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(44, 44, 44);
    text-align: center;
}

button {
    background-color: gray;
    color: white;
    padding: 20px 40px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: darkgray;
}

h6 {
    text-align: left;
}
h2 {
    text-align: justify;
    color: rgb(180, 180, 180);
}